.answers
    .answers__container.container
        .answers__error(ng-if="answers.empty")
            so-no-result
        .answers__list(ng-if="!answers.empty")
            so-answers-list(list="answers.answersList")