div
    so-sort(event="$ctrl.updateResults", sort-type="$ctrl.sortType", sort-reverse="$ctrl.sortReverse")
    ul.result-list
        li.result-list__item( ng-repeat="result in $ctrl.filteredItems | orderBy : $ctrl.sortType :  $ctrl.sortReverse")
            so-result(data="result", user-questions="$ctrl.list.user", tags-questions="$ctrl.list.tags")
