.questions {

  &__container {
    padding-top: 55px;
    padding-bottom: 45px;

    @include adaptive(ipad) {
      padding-top: 75px;
    }
  }

  &__error {
    font-size: 1.2em;
    text-align: center;
    padding-top: 30%;
  }

  &__error-link {
    color: $action-color;
  }
}
