.animation-search-box {

  &.ng-enter,
  &.ng-leave {
    transition:all 1s linear;
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {

    & .search-box__content {
      opacity: 0;
    }
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {

    & .search-box__content {
      opacity: 1;
    }
  }
}