.home {

  &__container {
    padding-top: 95px;
    padding-bottom: 45px;
    max-width: 1024px;
    margin: 0 auto;

    @include adaptive(ipad) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      padding: 0 20px;
    }
  }

  &__header {
    text-align: center;
  }

  &__header-title {
    font-size: 1.6em;
  }


}
